
{{ dump(zone) }}

<div id="zone-details-wrapper">
<div id="zone-details">

<div class="info {{ zone.status_original }}">
    <div class="status"><i class="icon icon-ok-sign h3"></i></div>
    <h3 class="domain-name">{{ zone.name }}</h3>
</div>

<div class="mod-setting">
  <header class="mod-header">
  <div><h3 class="mod-title"> Status: {{ zone.status }}</h3></div>
  <p>This website is {{ zone.status_original }} on Cloudflare.</p>
  </header>
</div>


</div>





<section class="modunit">
<header class="mod-header">
	<div><h3 class="mod-title">Domain Summary</h3>

	</div>
</header>
<div class="settings"><div data-cid="view593"><div class="settings-column">
  <div class="setting">
    <i class="icon icon-lock"></i>
    <div class="summary crypto">
      <p><strong>Security Level:</strong> <a href="#">{{ zone.security_level }}</a></p>

      <p><strong>SSL:</strong> <a href="#">{{ zone.ssl }}</a></p>

    </div>
  </div>

  <div class="setting">
    <i class="icon icon-drive"></i>
    <div class="summary caching">
      <p><strong>Caching Level:</strong> <a href="#">{{ zone.cache_level }}</a></p>

      <p><strong>Development Mode:</strong> <a href="#">{{ zone.development_mode }}</a></p>

    </div>
  </div>
</div>

<div class="settings-column">
  <div class="setting">
    <i class="icon icon-api"></i>
    <div class="summary">
      <strong><p>Zone ID:</p></strong>
      <textarea rows="1" cols="35" readonly="" class="copyable-textarea">{{ zone.id }}</textarea>
      
        <strong><p>Organization ID:</p></strong>
        <textarea rows="1" cols="35" readonly="" class="copyable-textarea">{{ zone.org_id }}</textarea>
    </div>
  </div>
</div></div></div>

</section>
</div>


<section class="card">
   <div class="card__sections_container">
    <div class="card__sections">
      <div class="card__section card__section--control">
       <div class="card__control_text card__content_container">
        <div class="card__content">
          <h3 class="card__title">Page Rules</h3>
          <p><strong>You have {{ zone.page_rule_count }} Page Rules left</strong>. </p>
          <p>Page Rules let you control which Cloudflare settings trigger on a given URL. Only one Page Rule will trigger per URL, so it is helpful if you sort Page Rules in priority order, and make your URL patterns as specific as possible.</p>
        </div>
       </div>
      </div>
      <div class="card__section card__section--table">
       <div class="card__table">
		{% if zone.page_rule_count  < 20 %} 
        <div class="table-container">

           <table class="table table-striped table-hover page-rules-table">
           <thead><tr>
           <th class="sortable-arrow-cell renderable arrow"></th>
           <th class="renderable url">URL/Description</th>
           </tr></thead>
           <tfoot></tfoot>
           <tbody>

           {% for key,value in zone.pagerules %}
           <tr draggable="true" data-cid="view934" class="draggable">
           <td class="sortable-arrow-cell renderable">
           <i class="ui-item vert-arrows drag-handle"></i><span class="sortable-index">{{ key }}</span>
           </td>
           <td class="page-rule-description-cell renderable">{{ value.val }}<br><span class="text-nonessential">{{ value.id }}</span>
           </td>
           </tr>
           {% endfor %}
           </tbody></table>
         </div>
         {% else %}
         <strong>No Page Rules Defined</strong>
         {% endif %}
        </div>
      </div>


      </div></div></section>

<!-- Challange Passage -->
      <section class="card">
   <div class="card__sections_container">
    <div class="card__sections">
      <div class="card__section card__section--control">
       <div class="card__control_text card__content_container">
        <div class="card__content">
          <h3 class="card__title">Challenge Passage</h3>
           <p>Specify how long a visitor is allowed access to your website after completing a challenge.</p>
        </div>
       </div>
      </div>
      <div class="card__section card__section--table">
       <div class="card__table">
	
         <strong>{{ zone.challange_minutes }} minutes</strong>
      
        </div>
      </div>


      </div></div></section>

      <!-- Rate Limit -->
      <section class="card">
   <div class="card__sections_container">
    <div class="card__sections">
      <div class="card__section card__section--control">
       <div class="card__control_text card__content_container">
        <div class="card__content">
          <h3 class="card__title">Rate Limiting</h3>
           <p>Protect your site or API from malicious traffic by blocking client IP addresses that hit a URL pattern and exceed a threshold you define. Your existing Rate Limiting Rules are listed below. This feature is billed on <b>usage</b>.</p>
        </div>
       </div>
      </div>
      <div class="card__section card__section--table">
       <div class="card__table">
  
          {% if zone.rate_limits_count  == 0 %} 
          <strong>You currently have no Rate Limiting Rules. Please click on 'Enable Rate Limiting' to get started and then 'Create a Rate Limiting Rule' once you have enabled Rate Limiting.</strong>
         {% else %}
         
         {% endif %}
        </div>
      </div>


      </div></div></section>

      <!-- firewall-->

      <section class="card">
   <div class="card__sections_container">
    <div class="card__sections">
      <div class="card__section card__section--control">
       <div class="card__control_text card__content_container">
        <div class="card__content">
          <h2 class="card__title">Firewall</h2>
          <h2 class="card__title">IP Firewall</h2>
          <h4>Access Rules</h4>
          <p>Firewall rules can be based on IP address, IP address range, Autonomous System Number (ASN) or country.</p>
        </div>
       </div>
      </div>
      <div class="card__section card__section--table">
       <div class="card__table">
    {% if zone.access_rule_count  > 0 %} 
        <div class="table-container">

           <table class="table table-striped table-hover page-rules-table">
           <thead><tr>
           <th class="sortable-arrow-cell renderable arrow">Value</th>
           <th class="renderable url">Applies to</th>
           <th class="renderable url">Mode</th>
           </tr></thead>
           <tfoot></tfoot>
           <tbody>

           {% for key,value in zone.firewall %}
           <tr draggable="true" data-cid="view934" class="draggable">
              <td>{{ value.ip_value }}</td>
              <td>{{ value.applies_to }}</td>
              <td>{{ value.mode }}</td>
           </tr>
           {% endfor %}
           </tbody></table>
         </div>
         {% else %}
         <strong>No Access Rules Defined</strong>
         {% endif %}
        </div>
      </div>


      </div></div></section>
